---
title: Welcome to Middleman
---

<div class="row row-padding welcome">
  <%= image_tag 'logo.png', :class => "logo" %>
  <%= image_tag 'sponsors.png', :class => "sponsors" %>
</div>

<div class="row row-padding">
  <div class="container">
    <div class="full center white-bg">
      <h1 class="center">What Is City Of Broad Shoulders?</h1>
      <p class="medium-text side-padding">
        A three-night event to showcase Chicago’s enduring entrepreneurial spirit. Each day presents a snapshot of the city in a different era, from the Roaring ’20s Speakeasy to the World’s Fair and the city’s longstanding legacy of storytelling. We’ll also provide Chicago’s signature food and drink options: Garrett’s Popcorn and Deep Dish Pizza, as well as beers from 312 and Half Acre breweries. Hosted in Dev Bootcamp’s comfortable workspace, the three-day event allows attendees to brush shoulders with other craftsmen while re-living pieces of Chicago’s history.
      </p>
    </div>
  </div>
</div>

<div class="row row-padding-large center speak-easy-bg">
  <div class="container">
    <div class="margin-bottom-20">
      <%= image_tag 'speak-easy-2.png', :class => 'event-images' %>
    </div>
    <a href="speak-easy.html" class="register-btn gradient">More Info</a>
  </div>
</div>

<div class="row row-padding clearfix">
  <div class="container">
    <div class="one-third column">
      <%= image_tag 'circle-placeholder.png' %>
    </div>

    <div class="two-thirds column">
      <h2>Speak Easy Event</h2>
      <p>Slip into this prohibition-themed event with a game night that has something for everyone. Whether you want the roaring fun of black jack and rolling dice or the more reserved play of Werewolf and Munchkin, this Speakeasy will have the resources for you to make your own fun.</p>
    </div>
  </div>
</div>

<div class="row row-padding-large center maker-bg">
  <div class="container">
    <div class="margin-bottom-20">
      <%= image_tag 'maker-2.png', :class => 'event-images' %>
    </div>
    <a href="maker.html" class="register-btn gradient">More Info</a>
  </div>
</div>

<div class="row row-padding clearfix">
  <div class="container">
    <div class="one-third column reverse-float text-align-right">
      <%= image_tag 'circle-placeholder.png' %>
    </div>

    <div class="two-thirds column">
      <h2>Maker Event</h2>
      <p>Even today, Chicago continues to embody this spirit of impressive construction. At this event, you’ll be invited to participate in a LEGO hackathon, help try to make a robot, or create a bust of your own head using 3-D printing technology. We’ll also have local artists to doodle your portrait, and a movable type available to make your own press kit.</p>
    </div>
  </div>
</div>

<div class="row row-padding-large center" style="background: #f2eee9;">
  <div class="container">
    <div class="margin-bottom-20">
      <%= image_tag 'windy-city-2.png', :class => 'event-images' %>
    </div>
    <a href="windy-city.html" class="register-btn gradient">More Info</a>
  </div>
</div>

<div class="row row-padding clearfix">
  <div class="container">
    <div class="one-third column">
      <%= image_tag 'circle-placeholder.png' %>
    </div>

    <div class="two-thirds column">
      <h2>Windy City Event</h2>
      <p>For the event’s final night, Lea Thau will host a training session to help improve communication and storytelling skills. Thau is a Peabody Award-winning producer and director who created and hosted Strangers and the immensely popular Moth Podcast and The Moth Radio Hour.</p>
    </div>
  </div>
</div>

<!-- <div class="guide"> -->
<!--   <div class="row"> -->
<!--     <div class="one&#45;fourth column"> -->
<!--       one&#45;fourth -->
<!--     </div> -->
<!--     <div class="one&#45;fourth column"> -->
<!--       one&#45;fourth -->
<!--     </div> -->
<!--     <div class="one&#45;fourth column"> -->
<!--       one&#45;fourth -->
<!--     </div> -->
<!--     <div class="one&#45;fourth column"> -->
<!--       one&#45;fourth -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="row"> -->
<!--     <div class="one&#45;half column"> -->
<!--       one&#45;half -->
<!--     </div> -->
<!--     <div class="one&#45;half column"> -->
<!--       one&#45;half -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="row"> -->
<!--     <div class="one&#45;third column"> -->
<!--       one&#45;third -->
<!--     </div> -->
<!--     <div class="one&#45;third column"> -->
<!--       one&#45;third -->
<!--     </div> -->
<!--     <div class="one&#45;third column"> -->
<!--       one&#45;third -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="row"> -->
<!--     <div class="one&#45;third column"> -->
<!--       one&#45;third -->
<!--     </div> -->
<!--     <div class="two&#45;thirds column"> -->
<!--       two&#45;third -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="row"> -->
<!--     <div class="full column"> -->
<!--       full -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
