<div class="row row-padding-bottom welcome">
  <div class="row menu">
    <a href="#main-nav" class="open-menu">Menu <i class="fa fa-bars"></i></a>
    <a href="#" class="close-menu">Menu <i class="fa fa-bars"></i></a>
  </div>

  <%= image_tag 'logo.png', :class => "logo" %>
  <% link_to 'sponsors.html' do %>
    <%= image_tag 'sponsors.png', :class => "sponsors-logo" %>
  <% end %>
</div>

<div class="row row-padding">
  <div class="container">
    <div class="full center white-bg">
      <h1 class="center">What Is City Of Broad Shoulders?</h1>
      <p class="sub_headline side-padding">A three-night event during the week of RailsConf to showcase Chicago’s enduring entrepreneurial spirit.</p>
      <p class="medium-text side-padding">
        Each night presents a snapshot of the city in a different era from the Speakeasy saloon in the Roaring ’20s, to the International World’s Fair, and the city’s longstanding legacy of storytelling. 
        Hosted by <a href="sponsors.html">four Chicago organizations</a> that represent our city's software craftsmanship, the three-day event allows attendees to brush shoulders with other craftsmen while re-living pieces of Chicago’s history.
      </p>
    </div>
  </div>
</div>

<div class="row row-padding-large center speak-easy-bg">
  <div class="container">
    <div class="margin-bottom-20">
      <%= image_tag 'speak-easy-2.png', :class => 'event-images' %>
    </div>
    <a href="speak-easy.html" class="register-btn gradient">More Info</a>
  </div>
</div>

<div class="row row-padding event-intro clearfix">
  <div class="container">
    <div class="one-third column">
      <% link_to 'speak-easy.html' do %>
        <%= image_tag 'card-badge.png', :class => "badges" %>
      <% end %>
    </div>

    <div class="two-thirds column">
      <h2><a href="speak-easy.html">Speak Easy Night</a></h2>
      <p class="date_time"><strong>Tuesday April 22, 2014 &#8226; 6pm - 9pm &#8226; <a href="speak-easy.html">More Info</a></strong></p>
      <p>Slip into this prohibition-themed event with a game night that has something for everyone. Whether you want the roaring fun of black jack and rolling dice or the more reserved play of Werewolf and Munchkin, this Speakeasy will have the resources for you to make your own fun. While playing during the game night or at networking at the after party downstairs, you'll meet a lot of other people in town.</p>
    </div>
  </div>
</div>

<div class="row row-padding-large center maker-bg">
  <div class="container">
    <div class="margin-bottom-20">
      <%= image_tag 'maker-2.png', :class => 'event-images' %>
    </div>
    <a href="maker.html" class="register-btn gradient">More Info</a>
  </div>
</div>

<div class="row row-padding event-intro clearfix">
  <div class="container">
    <div class="one-third column reverse-float text-align-right">
      <% link_to 'maker.html' do %>
        <%= image_tag 'wrench-badge.png', :class => "badges reverse-padding" %>
      <% end %>
    </div>

    <div class="two-thirds column-reverse">
      <h2><a href="maker.html">Maker Night</a></h2>
      <p class="date_time"><strong>Wednesday April 23, 2014 &#8226; 6pm - 9pm &#8226; <a href="maker.html">More Info</a></strong></p>
      <p>Chicago continues to embody this spirit of impressive craftsmanship and invention. At this event, you’ll be invited to participate in a LEGO hackathon, help try to make a mechanical robot, or create a bust of your own head using 3-D printing technology provided by the Field Museum. We’ll also have a local artist on hand to doodle your portrait, and a movable type to make your own press kit. While building at each booth, or at the after party downstairs, you'll have a chance to meet some of the best makers and movers and shakers in Chicago.</p>
    </div>
  </div>
</div>

<div class="row row-padding-large center windy-city-bg">
  <div class="container">
    <div class="margin-bottom-20">
      <%= image_tag 'windy-city-2.png', :class => 'event-images' %>
    </div>
    <a href="windy-city.html" class="register-btn gradient">More Info</a>
  </div>
</div>

<div class="row row-padding event-intro clearfix">
  <div class="container">
    <div class="one-third column">
      <% link_to 'windy-city.html' do %>
        <%= image_tag 'mic-badge.png', :class => "badges" %>
      <% end %>
    </div>

    <div class="two-thirds column">
      <h2><a href="windy-city.html">Windy City Night</a></h2>
      <p class="date_time"><strong>Thursday April 24, 2014 &#8226; 6pm - 9pm &#8226; <a href="windy-city.html">More Info</a></strong></p>
      <p>For the event’s final night, one of the country’s most celebrated storytellers will host a training session to help improve communication and storytelling skills. Lea Thau is a Peabody Award-winning producer and director who served as the Executive Creative Director for the immensely popular The Moth storytelling organization from 2001 to 2010. She now hosts and produces the Strangers radio program. Those attending the Windy City Night will have a chance to craft their own story and hear the tall tales of others in the community.</p>
    </div>
  </div>
</div>

<div class="row row-padding-medium" style="background: #fff;">
  <div class="container center">
    <p class="small_sub_headline no-margin-bottom">City of Broad Shoulders is organized for the community by four of Chicago's leading software development companies.</p>
    <%= image_tag 'extra-small-sponsors.png', :class => "extra-small-sponsors" %>
    <a href="sponsors.html" class="register-btn gradient">Learn More</a>
  </div>
</div>
