---
title: Sponsors
---

<div class="row row-padding-bottom center welcome">
  <div class="row menu">
    <a href="#main-nav" class="open-menu">Menu <i class="fa fa-bars"></i></a>
    <a href="#" class="close-menu">Menu <i class="fa fa-bars"></i></a>
  </div>

  <!-- <div class="row row&#45;padding&#45;medium"> -->
  <!--   <div class="container"> -->
  <!--     <div class="full navigation"> -->
  <!--       <a href="/">Home</a> -->
  <!--       <a href="speak&#45;easy.html">Speak Easy Night</a> -->
  <!--       <a href="maker.html">Maker Night</a> -->
  <!--       <a href="windy&#45;city.html">Windy City Night</a> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  <%# <%= image_tag 'logo-medium.png', :class => 'logo-medium' %>
  <%= image_tag 'sponsors-4.png', :class => 'event-images padding-top-2' %>
  <%= image_tag 'sponsors.png', :class=> 'sponsors-logo' %>
</div>

<div class="row row-padding-special">
  <div class="container">
    <div class="full center white-bg">
      <h1 class="center">Our Sponsors</h1>
      <p class="sub_headline side-padding">City of Broad Shoulders is organized for the community by four of Chicago's leading software development companies.</p>
      <p class="medium-text side-padding">
        8th Light, Table XI, Dev Mynd, and Dev Boot Camp each function independently, but they are all partners in their craft. They believe in the principles of craftsmanship, and work collaboratively to advance software as an industry. Their relationship is indicative of Chicago’s unique personality, and City of Broad Shoulders is intended to be a networking event for like-minded software craftspeople to celebrate what has helped make Chicago such a special, connected place. 
      </p>
    </div>
  </div>
</div>

<ul class="row row-padding-small-special large-sponsor-list">
  <div class="container clearfix">
    <li class="one-fourth column">
      <% link_to 'http://8thlight.com' do %>
        <%= image_tag '8th-light-logo.png', :class => 'eighth-light-logo' %>
      <% end %>
    </li>
    <li class="one-fourth column">
      <% link_to 'http://tablexi.com' do %>
        <%= image_tag 'table-xi-logo.png', :class => 'table-xi-logo' %>
      <% end %>
    </li>
    <li class="one-fourth column">
      <% link_to 'http://devmynd.com' do %>
        <%= image_tag 'dev-mynd-logo.png', :class => 'dev-mynd-logo' %>
      <% end %>
    </li>
    <li class="one-fourth column">
      <% link_to 'http://devbootcamp.com' do %>
        <%= image_tag 'dbc-logo.png', :class => 'dbc-logo' %>
      <% end %>
    </li>
  </div>
</ul>
